@model SV22T1020583.Models.Catalog.ProductPhoto
@{
    ViewBag.Title = "Thay đổi thông tin ảnh";
}
<div class="card card-info card-outline">
    <div class="card-body">
        <form action="~/Product/SavePhoto" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.PhotoID)
            @Html.HiddenFor(m => m.ProductID)
            @Html.HiddenFor(m => m.Photo)

            <div class="mb-3">
                <label class="form-label fw-bold">Ảnh hiện tại</label>
                <div class="mb-2">
                    <img id="imgPrev" src="~/images/products/@Model.Photo" class="img-thumbnail" style="max-height:200px" />
                </div>
                <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                       onchange="document.getElementById('imgPrev').src = window.URL.createObjectURL(this.files[0])" />
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">Mô tả ảnh</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" />
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="IsHidden" value="true" @(Model.IsHidden ? "checked" : "") id="isHidden" />
                    <label class="form-check-label" for="isHidden">Ẩn ảnh này</label>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a href="~/Product/Edit/@Model.ProductID" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>