@model SV22T1020583.Models.Catalog.ProductAttribute
@{
    ViewBag.Title = Model.AttributeID == 0 ? "Bổ sung thuộc tính" : "Thay đổi thuộc tính";
}
@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Lưu thuộc tính
    </button>

    <a href="~/Product/Edit/@Model.ProductID" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card card-outline card-success">
            <div class="card-header">
                <h5 class="mb-0">Thông tin thuộc tính mặt hàng</h5>
            </div>

            <div class="card-body">
                <form id="formEdit" action="~/Product/SaveAttribute" method="post">
                    <input type="hidden" name="@nameof(Model.AttributeID)" value="@Model.AttributeID" />
                    <input type="hidden" name="@nameof(Model.ProductID)" value="@Model.ProductID" />

                    <div class="row mb-3">
                        <label class="col-sm-3 fw-semibold">
                            Tên thuộc tính
                        </label>
                        <div class="col-sm-9">
                            <input type="text"
                                   name="@nameof(Model.AttributeName)"
                                   value="@Model.AttributeName"
                                   class="form-control"
                                   placeholder="Ví dụ: Màu sắc, Kích thước, Dung lượng..."
                                   required autofocus />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 fw-semibold">
                            Giá trị thuộc tính
                        </label>
                        <div class="col-sm-9">
                            <input type="text"
                                   name="@nameof(Model.AttributeValue)"
                                   value="@Model.AttributeValue"
                                   class="form-control"
                                   placeholder="Ví dụ: Đỏ, XL, 512GB..."
                                   required />
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-sm-3 fw-semibold">
                            Thứ tự hiển thị
                        </label>
                        <div class="col-sm-3">
                            <input type="number"
                                   name="@nameof(Model.DisplayOrder)"
                                   class="form-control"
                                   value="@Model.DisplayOrder"
                                   min="1" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>